:root {
    --szin-feher: #ffffff;
    --szin-sotet: #2b2a2a;
    --szin-szoveg: #bcabab;
    --szin-kiemeles: #d4a94c; 
    --logo-szin: #c6a9a9;
    
    --oldal-padding: clamp(1rem, 5vw, 4rem); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--szin-sotet); 
}



/* FEJLEC */



.fejlec {
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    padding: 1rem var(--oldal-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 20px rgba(0,0,0,0.15);
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.karolyhaz {
    font-size: 2rem;
    color: var(--szin-kiemeles);
    text-decoration: none;
}



/* NAVIGACIO */



.navigacio ul {
    display: flex;       
    gap: 2rem;           
    list-style: none;

}

.navigacio a {
    text-decoration: none;
    color: var(--szin-szoveg);
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.navigacio a:hover {
    color: var(--szin-kiemeles);
}


.gomb{
    background-color: var(--szin-kiemeles);
    color: black;
    padding: 0.8rem 2rem; 
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    display: inline-block; 
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.gomb:hover {
    background-color: rgb(185, 82, 53) ; 
    transform: translateY(-2px); 
}



/* HERO RESZ */



.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items:center ;
    overflow: hidden;
}
/* 1. RETEG */
.hero-kepek {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.kep-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; 
    transition: opacity 1.5s ease-in-out;
}
.kep-slide.aktiv {
    opacity: 1;
}

/* 2. RETEG  */

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(26,26,26,0.6) 0%, rgba(26,26,26,0.6) 70%, var(--szin-sotet) 100%);
}

/* 3. RETEG */

.hero-tartalom {
    position: relative;
    z-index: 3;
    padding-left: var(--oldal-padding);
    color: var(--szin-szoveg);
}
.hero-tartalom h1 {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    line-height: 1.1;
    display: inline-block;
    margin-bottom: 3rem;
}
.hero-tartalom p {
    font-size: clamp(1.5rem, 2vw, 3.5rem);
    line-height: 1.1;
}
.hero-gomb {
    background-color: var(--szin-kiemeles);
    color: black;
    padding: 0.8rem 2rem; 
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    display: inline-block; 
    margin-top: 8rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.hero-gomb:hover{
    background-color: rgb(185, 82, 53) ; 
    transform: translateY(-2px); 
}



/* FOOLDAL ROLUNK  */



.fooldal-rolunk {
    padding: 8rem var(--oldal-padding);
    background-color: var(--szin-sotet);
    color: var(--szin-feher);
    height: 90vh;
}

.fooldal-szekcio {
    max-width: 80vw; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    align-items: center;
}

.fooldal-rolunk-szoveg h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    color: var(--szin-kiemeles);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.fooldal-rolunk-szoveg p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--szin-feher);
    margin-bottom: 2.5rem;
}

.fooldal-rolunk-kep img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}

.fooldal-rolunk-kep:hover img {
    transform: scale(1.02);
}

.bovebben-gomb {
    background-color: transparent;
    color: var(--szin-kiemeles);
    border: 2px solid var(--szin-kiemeles);
    padding: 0.8rem 2rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.bovebben-gomb:hover {
    background-color: var(--szin-kiemeles);
    color: black;
    transform: translateY(-2px);
}



/* FOOLDAL TEVEKENYSEGEINK */


.fooldal-tevekenysegek {
    padding: 8rem var(--oldal-padding);
    background-color: var(--szin-sotet);
    color: var(--szin-feher);
}

.tevekenyseg-fejlec {
    margin-bottom: 4rem;
    text-align: left;
}

.tevekenyseg-fejlec h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    color: var(--szin-kiemeles);
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tevekenyseg-fejlec p {
    font-size: 1.1rem;
    color: var(--szin-feher);
}

/* TEVEKENYSEGEINK LISTA */

.interaktiv-lista-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
    align-items:last baseline;
}

@media (max-width: 900px) {
    .interaktiv-lista-grid {
        grid-template-columns: 1fr;
    }
    
}

.szolgaltatas-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.szolgaltatas-elem {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ababab; 
    transition: all 0.4s ease;
}

.szolgaltatas-elem:last-child {
    border-bottom: none;
}

.sorszam {
    font-size: 1.2rem;
    font-family: monospace; 
}

.szolg-nev {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem); 
    font-weight: bold;
    transition: transform 0.4s ease; 
}


.szolgaltatas-elem:hover, 
.szolgaltatas-elem.aktiv-elem {
    color: var(--szin-kiemeles);
}

.szolgaltatas-elem:hover .szolg-nev,
.szolgaltatas-elem.aktiv-elem .szolg-nev {
    transform: translateX(20px); 
}

/* SZOLGALTATAS KEP */

.kep-oldal {
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.szolg-kep {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: scale(1.05);
    transition: opacity 0.6s ease, transform 0.6s ease;
    pointer-events: none;
}

.szolg-kep.aktiv-kep {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 768px) {
    .kep-oldal {
        aspect-ratio: 16 / 9;
    }
}



/* LABLEC */



.lablec {
    background-color: #181818;
}

/* KEPSAV */

.lablec-kepsav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.lablec-kepsav img {
    flex: 1 1 25%;
    height: 20vh;
    object-fit: cover;
    transition: filter 0.3s ease;
}

/* TARTALOM */

.lablec-tartalom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem var(--oldal-padding);
    flex-wrap: wrap;
}
.lablec-kapcsolat {
    color: var(--szin-szoveg);
    line-height: 1.8;
}
.lablec-kapcsolat h4{
    font-size: 1.3rem;
    color: var(--szin-kiemeles);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}
.lablec-kapcsolat a {
    color: #cccccc;
    text-decoration: none;
    transition: color 0.3s;
}

.lablec-kapcsolat a:hover {
    color: var(--szin-kiemeles);
}
.lablec-logo a {
    font-size: 2.5rem;
    color: var(--logo-szin);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}









/* UJ OLDAL ROLUNK */











.statik-hero {
    background-size: cover;
    background-position: center;
}

.rolunk-reszletek {
    padding: 6rem var(--oldal-padding);
    background-color: var(--szin-sotet);
    color: var(--szin-feher);
}
.rolunk-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(26,26,26,0.6) 0%, rgba(26,26,26,0.6) 70%, var(--szin-sotet) 100%);
}

.rolunk-hero-tartalom {
    position: relative;
    z-index: 3;
    padding-left: var(--oldal-padding);
    color: var(--szin-szoveg);
    margin-top: clamp(120px, 25vh, 300px); 
}

.rolunk-hero-tartalom h1 {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    line-height: 1.1;
    display: inline-block;
    margin-bottom: 2rem;
}

.rolunk-hero-tartalom p {
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
    line-height: 1.6;
    max-width: 800px;
}

.rolunk-reszletek {
    padding: 6rem var(--oldal-padding);
    background-color: var(--szin-sotet);
}

.szamok-kartyak {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    gap: 2rem;
    margin-bottom: 6rem;
    text-align: center;
}

.szam-kartya h2 {
    font-size: 5rem;
    color: var(--szin-kiemeles);
    margin-bottom: 0.5rem;
}

.szam-kartya p {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #cccccc;
    font-weight: bold;
}


.ertek-kartyak {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}


.lablec-tartalom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem var(--oldal-padding);
    flex-wrap: wrap;
    gap: 3rem;
}

.lablec-kapcsolat {
    color: #cccccc;
    line-height: 1.8;
}

.lablec-kapcsolat h4 {
    color: var(--szin-kiemeles);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

.lablec-kapcsolat a {
    color: #cccccc;
    text-decoration: none;
    transition: color 0.3s;
}

.lablec-kapcsolat a:hover {
    color: var(--szin-kiemeles);
}

.lablec-logo a {
    font-size: 2.5rem;
    color: var(--szin-kiemeles);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}